@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  /*box-sizing: border-box;*/
}

body {
  /*background-color: #f7f6f6;*/
  background: linear-gradient(180deg, rgba(235, 222, 212, 1) 0%, rgba(173, 212, 212, 1) 50%, rgba(189, 189, 189, 1) 100%);
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;
}

html {
  scroll-behavior: smooth;
}

header {
  /*background-color: #ebded4;*/
  height: 80vh;
  background-size: cover;
  background-position: center;
}

nav {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #000000;
  padding: 5px 20px;
  transition: 0.5s;
  margin-top: 5px;
  margin-right: 10px;
}

.search {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.search .input {
  border-style: none;
  outline: none;
  display: flex;
  font-size: 16px;
  width: 90%;
}

.searchBtn {
  background: #ffffff;
  position: relative;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #add4d4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
}

ul {
  margin: 0;
  padding: 20px 0;
}

ul li {
  list-style: none;
}

.sidebar ul li a {
  padding: 10px 20px;
  color: #000000;
  background-color: #add4d4;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #3d7d7c;
}

.sidebar ul li a:hover {
  color: #ffffff;
  background-color: #3d7d7c;
}

.sidebar .active {
  background-color: #3d7d7c;
}

#sideBtn {
  transition: margin-left .5s;
  padding: 16px;
}

.title {
  float: above;
  text-align: center;
  line-height: 0.5;
  padding-top: 30px;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%; -50%);
}

.title .logo {
  width: 100%;
  display: flex;
  /* margin: 0 auto; */
  /* padding-left: 25%; */
  justify-content: center;
  align-items: center;
}

#proname {
  font-family: 'Schoolbell', cursive;
  font-size: 7em;
  letter-spacing: 10px;
}

.description {
  margin-bottom: 100px;
  position: absolute;
  top: 70%;
  text-align: center;
  transform: translate(-50%; -50%);
}

.description p {
  width: 70%;
  margin-left: 15%;
  color: #000000;
  font-size: 20px;
}

.topplace h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 110px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.placeimg {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*content: "";*/
  clear: both;
}

.allign {
  margin-top: 100px;
  padding: 0px;
}

.available h3 {
  font-size: 25px;
  text-align: center;
  margin: auto;
  padding-top: 500px;
  padding-bottom: 50px;
}

.container {
  float: left;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.box {
  width: 320px;
  height: 80vh;
  background-color: #3d7d7c;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px 70px;
}

.box:hover {
  background-color: #8dd7e5;
}

.package {
  height: 200px;
  margin-top: 0px;
  max-width: 100%;
  max-height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.details h2 {
  text-align: center;
  margin-top: 0px;
}

.details p {
  margin-top: 20px;
  padding: auto;
  text-align: center;
  font-size: 15px;
}

button {
  margin-top: 20px;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 0px solid white;
  border-radius: 20px;
  background-color: #FDF2E9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #88906B;
  color: white;
}

footer {
  height: 80px;
  /*background-color: #ebded4;*/
  text-align: center;
  padding: 10px;
}

footer .footer {
    text-align: center;
}

footer .footer li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
  font-size: 20px;
  /* padding: 20px 10px; */
  transition: .5s;
}

footer .footer li a {
  color: #000;
}

#TopMenu {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b8ada6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 80px;
  box-shadow: none;
}

#TopMenu:hover {
  background-color: #555;
}
