/* Create three equal columns that floats next to each other */
/* .column1 {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.column2 {
  float: left;
  width: 66.66%;
  padding: 15px;
} */

/* Clear floats after the columns */
/* .row {
  display: table;
  clear: both;
  justify-content: center;
  align-items: center;
} */
/* Flip Card */
.flip-card {
  background-color: white;
  float: left;
  width: 250px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
  /* margin-left: auto;
  margin-right: auto; */
}

.flip-card-inner {
  /* position: relative; */
  /* margin: 10%; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #add4d4;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  align-items: baseline;
}
.flip-card-back button:hover {
  color: white;
  background-color: red;
  opacity: 0.7;
}

/* Event Card */
.eventcard {
  display: table;
  clear: both;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

}
.card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  /* padding: 20px; */
  text-align: center;
  font-family: arial;
}

.budget {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #add4d4;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  color: white;
  background-color: red;
  opacity: 0.7;
}

/* Slider */
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/* Image part of the slider */
.img-slider{
  position: relative;
  width: 1200px;
  height: 500px;
  margin: 10px;
  background: #ebded4;
}

.img-slider .slide{
  z-index: 0;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

/* Image resizing */
.img-slider .slide img{
  z-index: 0;
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

/* slider infos, title and bg */
.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 1;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #add4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Styling Tabs */
.tabsbox {
  box-sizing: border-box;
  width:1200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #add4d4;
}

.tablink {
  background-color: #add4d4;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}

.tablink:hover {
  background-color: #ebded4;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Annual {background-color: white;}
#Monthly {background-color: white;}
#LimitedTime {background-color: white;}

.box {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  align-items: center;
}

.border-line{
  height: 5px;
  background-color:#000000;
}
