@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

body {
  width : auto;
  margin : 0 auto;
  overflow : hidden;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

header {
  background-color: #ebded4;
  height: 15vh;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.title {
  float: above;
  text-align: center;
  line-height: 0.5;
  padding-top: 30px;
}

.title p{
  letter-spacing: 5px;
}

.title .logo {
  width: 100%;
  display: flex;
  /* margin: 0 auto; */
  /* padding-left: 25%; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#proname {
  font-family: 'Schoolbell', cursive;
  font-size: 5em;
  letter-spacing: 10px;
}

.content {
    background: #f7f6f6;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  /* height: 500px; */
}

.container-box {
  border-radius: 20px;
  height: 300px;
  width: 40%;
  margin: 0 auto;
  background-color: #add4d4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.fl-left {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  width: 70%;
  float: left;
}

.container button {
  border-radius: 20px;
  background-color: #ebded4;
  width: 20%;
  height: 30px;
  margin-left: auto;
  font-size: 15px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.container button a {
  color: #000000;
}

.container input[type=text], input[type=password] {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.content .submit {
  cursor: pointer;
  border-radius: 20px;
  background-color: #ebded4;
  width: 20%;
  height: 30px;
  margin-left: auto;
  font-size: 15px;
  border: none;
}



nav {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #000000;
  padding: 5px 20px;
  transition: 0.5s;
  margin-top: 5px;
  margin-right: 10px;
}

.nav_bar {
  margin: 0 auto;
  /* border-bottom: 1px solid #000000; */
  width: 860px;
  padding: 0px 20px 0px 20px;
  height: 64px;
  /* margin-top: 30px; */
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.nav_bar ul {
  padding: 0;
  list-style: none;
}

.nav_bar ul li {
  margin-top: 8.8vh;
  float: left;
  font-size: 16px;
  font-weight: bold;
}

.nav_bar ul li a {
  text-decoration: none;
  color: black;
  background: #ffffff;
  border-bottom: none;
  padding: 22px 20px 20px 20px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topLeft: 10px;
  -moz-border-radius-topRight: 10px;
  width: 100px;
  display: block;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-bottom: 0px;
  height: 2px;
}

.nav_bar ul li a:hover {
  text-decoration: none;
  color: #ffffff;
  background: #add4d4;
  -moz-transition: background-color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms
}

.nav_bar ul li a#onlink {
  background : #add4d4;
  color: #ffffff;
  border-bottom: none;
}

.nav_bar ul li a#onlink:hover {
  color: #000000;
}

footer {
  height: 80px;
  background-color: #ebded4;
  text-align: center;
  padding: 10px;
}

footer .footer {
    text-align: center;
}

footer .footer li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
  font-size: 20px;
  /* padding: 20px 10px; */
  transition: .5s;
}

footer .footer li a {
  color: #000;
}

footer .footer li a:hover {
  color: #99C0C0;
  transition: .5s;
}
