@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
  background: #f7f6f6;
  width: auto;
  height:750px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(#add4d4, #b8ada6 )
  /* background: linear-gradient(180deg, rgba(235, 222, 212, 1) 0%, rgba(173, 212, 212, 1) 50%, rgba(189, 189, 189, 1) 100%); */
}

/* p1 {
  padding: 0px 20px 20px;
} */
.content{

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* background: linear-gradient(180deg, rgba(235, 222, 212, 1) 0%, rgba(173, 212, 212, 1) 50%, rgba(189, 189, 189, 1) 100%); */
}
.box{
  width: 450px;
  height: 250px;
  margin: 100px auto;
  background: #fff;
  border-radius:7px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}

.box p{
  text-align: center;
}
.box .heading{
  background: #add4d4;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #ffffff;
  text-align: :center;
  font-family: "Rubik";
}

.box .message{
  text-align: center;
  line-height: 5px;
}

.box .message .far{
  font-size: 40px;
}

.box .message .fa{
  font-size: 20px;
  cursor: pointer;
}

.box .message .fa:hover{
  color: #99C0C0;
  transition: .3s;
}

.box .message p{
  font-size: 20px;
}
